<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parque PD</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95642045a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <a href="#" class="navbar__toggle" id="navbar__toggle"><i class="fa-solid fa-bars"></i></a>
     @if (this.User.Identity.IsAuthenticated)
    {
    <nav class="navbar" id="navbar">
            <ul class="navbar__menu" id="menu-list">
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house"></i><span>Inicio</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="fa-solid fa-user"></i><span>Usuarios</span>
                    </a>
                </li>
                 <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Providers" asp-action="Index">
                        <i class="fa-solid fa-boxes-packing"></i><span>Proveedores</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="PurchaseHeaders" asp-action="Index">
                        <i class="fa-solid fa-cart-shopping"></i><span>Compras</span>
                    </a>
                </li>
                                <li>
                    <a class="navbar__link" asp-area="" asp-controller="TicketSales" asp-action="Index">
                        <i class="fa-solid fa-dollar-sign"></i><span>Ventas</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Services" asp-action="Index">
                        <i class="fa-solid fa-bone"></i><span>Servicios</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Maintenances" asp-action="Index">
                        <i class="fa-solid fa-gears"></i><span>Mantenimientos</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="Supplies" asp-action="Index">
                        <i class="fa-solid fa-box-open"></i><span>Consumibles</span>
                    </a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link" asp-area="" asp-controller="SanitizedGames" asp-action="Index">
                        <i class="fa-solid fa-spray-can-sparkles"></i><span>Juegos Sanitizados</span>
                    </a>
                </li>
            </ul>
            <div class="menu-bg"></div>
        </nav>
    }
    
        <div class="manager-header">
            <h2 class="nta-title nta-title-xs primary manager-header__title">@ViewData["Title"]</h2>
            @if (this.User.Identity.IsAuthenticated)
            {
                <div class="manager-header__perfil" id="header-perfil">
                    <div class="manager-header__info">
                    <img class="manager-header__info-img" ssrc="../wwwroot/images/users/rodo163ca458-76a8-4200-812e-1071e71285cb.png" alt="">
                        <div>
                            <p>@this.User.Identity.Name</p>
                        </div>
                    </div>
                </div>

                
            }
            else
            {
                <div class="manager-header__perfil">
                    <div class="manager-header__info">
                    <img class="manager-header__info-img" src="../wwwroot/images/users/rodo163ca458-76a8-4200-812e-1071e71285cb.png" alt="">
                        <div>
                            <h3><a asp-area="" asp-controller="Account" asp-action="Login">Iniciar Sesión</a></h3>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="manager__profile" id="administrar-perfil">
                    <img class="manager__profile-img" src="../wwwroot/images/users/rodo163ca458-76a8-4200-812e-1071e71285cb.png" alt="">
                    <h3 class="manager__profile-user">@this.User.Identity.Name</h3>
                    <a class="manager__profile-option" href="">Administrar perfil</a>
                    <a class="manager__profile-close" asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
                </div>
        }
                

    <div class="manager">
            @RenderBody()
    </div>

    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ParqueProcesoDesarrollo.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/menu.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
