<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Parque PD</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/95642045a2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1 class="title-page"> @ViewData["Title"] </h1>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="user-box" style="width: 19%;">
                <a style="padding-right: 15px;">@this.User.Identity.Name</a>
                <a asp-area="" asp-controller="Account" asp-action="Logout">
                <i class="fa-solid fa-right-from-bracket fa-xl"><h3 class="subtitle-page">     Logout</h3></i>
                </a>
            </div> 
         }
         else
         {
            <div class="user-box" style="width: 7%;">
                <a asp-area="" asp-controller="Account" asp-action="Login">
                <i class="fa-solid fa-right-to-bracket fa-xl"><h3 class="subtitle-page">     Login</h3></i>
                </a>
            </div>
         }
        <nav class="floating-menu">
            <ul class="main-menu">
                <li>
                    <a class="ripple" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-house fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple" asp-area="" asp-controller="Users" asp-action="Index">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </a>
                </li>
                 <li>
                    <a class="ripple" asp-area="" asp-controller="Providers" asp-action="Index">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple" asp-area="" asp-controller="PurchaseHeaders" asp-action="Index">
                        <i class="fa-solid fa-cart-shopping fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple">
                        <i class="fa-solid fa-address-card fa-2x"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple">
                        <i class="fa-solid fa-gears fa-2xl"></i>
                    </a>
                </li>
                <li>
                    <a class="ripple">
                        <i class="fa-solid fa-cart-shopping fa-2x"></i>
                    </a>
                </li>
            </ul>
            <div class="menu-bg"></div>
        </nav>
    </header>

    <div class="container" style="margin-top: 25px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ParqueProcesoDesarrollo.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
