@model ParqueProcesoDesarrollo.Web.Data.Entities.ProviderContact

@{
    ViewData["Title"] = "Personas de Contacto";
}
<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Eliminar</h3>
    </div>

    <div class="view__container">
    <dl>
            <dt class="view__label view__transparency">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="view__data view__transparency">
            @Html.DisplayFor(model => model.Name)
        </dd>
            <dt class ="view__label view__transparency">
            @Html.DisplayNameFor(model => model.PaternalSurname)
        </dt>
            <dd class="view__data view__transparency">
            @Html.DisplayFor(model => model.PaternalSurname)
        </dd>
            <dt class="view__label view__transparency">
            @Html.DisplayNameFor(model => model.MaternalSurname)
        </dt>
            <dd class="view__data view__transparency">
            @Html.DisplayFor(model => model.MaternalSurname)
        </dd>
            <dt class="view__label view__transparency">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
            <dd class="view__data view__transparency">
            @Html.DisplayFor(model => model.Email)
        </dd>
            <dt class="view__label view__transparency">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
            <dd class="view__data view__transparency">
            @Html.DisplayFor(model => model.Phone)
        </dd>
            <dt class="view__label view__transparency">
             @Html.DisplayNameFor(model => model.Post)
        </dt>
            <dd class="view__data view__transparency">
             @Html.DisplayFor(model => model.Post)
        </dd>
            <dt class="view__label view__transparency">
             @Html.DisplayNameFor(model => model.BusinessHours)
        </dt>
            <dd class="view__data view__transparency">
             @Html.DisplayFor(model => model.BusinessHours)
        </dd>
    </dl>
    </div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="view__button-container">
            <a asp-action="Details" asp-controller="Providers" asp-route-id="@Model.Provider.Id" class="contacto__button nta-btn-common view__button">Regresar</a>
            <input type="submit" value="Confirmar" class="nta-btn-danger" />
        </div>
    </form>
</div>

