@model IEnumerable<ParqueProcesoDesarrollo.Web.Data.Entities.ProviderContact>
    
@{
    ViewData["Title"] = "Personas de Contacto ";
}

<div class="manager-table__top">
    <h3 class="manager-table__caption">Personas de Contacto</h3>

</div>

<table class="manager-table">
    <thead class="manager-table__headers">
        <tr class="manager-table__row">
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Provider.SocialReason)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Status.Name)
            </th>
            <th class="manager-table__header" scope="col">
                Editar
            </th>

        </tr>
    </thead>
    <tbody class="manager-table__body">
        @foreach (var item in Model)
        {
            <tr class="manager-table__row">
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.FullName)>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Email)>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Phone)>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>

                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Provider.SocialReason)>
                    @Html.DisplayFor(modelItem => item.Provider.SocialReason)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Provider.SocialReason)>
                    @Html.DisplayFor(modelItem => item.Status.Name)
                </td>
                <td class="manager-table__data manager-table__option" data-label="Editar">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
