@model ParqueProcesoDesarrollo.Web.Data.Entities.Provider

@{
    ViewData["Title"] = "Proveedores";
}
<div class="view">
    <div class="manager-table__top">
        <h3 class="manager-table__caption">Proveedor</h3>
</div>
    <div class="view__container">
    <dl>
            <dt class="view__label">
            @Html.DisplayNameFor(model => model.SocialReason)
        </dt>
            <dd class="view__data">
            @Html.DisplayFor(model => model.SocialReason)
        </dd>
            <dt class="view__label">
            @Html.DisplayNameFor(model => model.RFC)
        </dt>
            <dd class="view__data">
            @Html.DisplayFor(model => model.RFC)
        </dd>
            <dt class="view__label">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
            <dd class="view__data">
            @Html.DisplayFor(model => model.Address)
        </dd>
            <dt class="view__label">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
            <dd class="view__data">
            @Html.DisplayFor(model => model.Email)
        </dd>
            <dt class="view__label">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
            <dd class="view__data">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    </div>

    <table class="manager-table">
        <thead class="manager-table__headers">
            <tr class="manager-table__row">
                <th class="manager-table__header" scope="col">
                    Nombre Completo
                </th>
                <th class="manager-table__header" scope="col">
                    Correo Electrónico
                </th>
                <th class="manager-table__header" scope="col">
                    Teléfono
                </th>
                <th class="manager-table__header" scope="col">
                    Horario de Atención
                </th>
                @if (this.User.IsInRole("Admin"))
                {
                    <th class="manager-table__header" scope="col">
                        Estado
                    </th>
                }
                <th class="manager-table__header" scope="col">
                    Editar
                </th>
                @if (!this.User.IsInRole("Admin"))
                    {
                        <th class="manager-table__header" scope="col">
                            Eliminar
                        </th>
                    }
            </tr>

        </thead>
        <tbody class="manager-table__body">
            @foreach (var item in Model.ProviderContacts)
            {
                <tr class="manager-table__row">
                    <td class="manager-table__data" scope="row">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td class="manager-table__data" scope="row">
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="manager-table__data" scope="row">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td class="manager-table__data" scope="row">
                        @Html.DisplayFor(modelItem => item.BusinessHours)
                    </td>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <td class="manager-table__data" scope="row">
                            @Html.DisplayFor(modelItem => item.Status.Name)
                        </td>
                    }
                    <td class="manager-table__data manager-table__option" data-label="Editar">
                        <a asp-action="Edit" asp-controller="ProvidersContact" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                    </td>
                    @if (!this.User.IsInRole("Admin"))
                    {
                        <td class="manager-table__data manager-table__option" data-label="Eliminar">
                            <a asp-action="Delete" asp-controller="ProvidersContact" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="view__button-container">
    <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
                    @if (!this.User.IsInRole("Admin"))
                    {
    <a asp-action="Create" asp-controller="ProvidersContact" asp-route-providerId="@Model.Id" class="nta-btn-secondary">Persona de Contacto</a>
                    }
</div>

