@model IEnumerable<ParqueProcesoDesarrollo.Web.Data.Entities.Provider>

<div class="manager-table__top">
    <h3 class="manager-table__caption">Proveedores</h3>

</div>

@if (!this.User.IsInRole("Admin"))
{
    <a asp-action="Create" class="manager-table__add"><i class="fa-solid fa-plus"></i></a>
}

<table class="manager-table">
    <thead class="manager-table__headers">
        <tr class="manager-table__row">
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.SocialReason)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th class="manager-table__header" scope="col">
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th class="manager-table__header" scope="col">
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            @if (this.User.IsInRole("Admin"))
            {
                <th class="manager-table__header" scope="col">
                    @Html.DisplayNameFor(model => model.Status.Name)
                 </th>
            }
            <th class="manager-table__header" scope="col">
                Detalles
            </th>
            <th class="manager-table__header" scope="col">
                Editar
            </th>
            @if (!this.User.IsInRole("Admin"))
            {
                <th class="manager-table__header" scope="col">
                    Eliminar
                </th>
            }
        </tr>
    </thead>
    <tbody class="manager-table__body">
@foreach (var item in Model) {
        <tr class="manager-table__row">
            <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.SocialReason)>
                @Html.DisplayFor(modelItem => item.SocialReason)
            </td>
            <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.RFC)>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Address)>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Email)>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Phone)>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            @if (this.User.IsInRole("Admin"))
            {
                    <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Status.Name)>
                        @Html.DisplayFor(modelItem => item.Status.Name)
                    </td>
            }
            <td class="manager-table__data manager-table__option" data-label="Detalles">
               <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-magnifying-glass"></i></a>
            </td>
            <td class="manager-table__data manager-table__option" data-label="Editar">
               <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
            </td>
             @if (!this.User.IsInRole("Admin"))
            {
                    <td class="manager-table__data manager-table__option" data-label="Eliminar">
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
            }
          
        </tr>
}
    </tbody>
</table>
  
