@model ParqueProcesoDesarrollo.Web.Data.Entities.Maintenance

@{
    ViewData["Title"] = "Mantenimiento";
}

@*<h1>Eliminar</h1>*@
<div class="manager-table__top">
    <h3 class="manager-table__caption">¿Estas seguro de Eliminar el registro?</h3>
</div>

<div class="view__container">
    <div>
        <dl>
            <dt class="view__label">
                @Html.DisplayNameFor(model => model.MaintenanceDate)
            </dt>
            <dd class="view__data">
                @Html.DisplayFor(model => model.MaintenanceDate)
            </dd>
            <dt class="view__label">
                @Html.DisplayNameFor(model => model.DateOfLastOverhaul)
            </dt>
            <dd class="view__data">
                @Html.DisplayFor(model => model.DateOfLastOverhaul)
            </dd>
            <dt class="view__label">
                @Html.DisplayNameFor(model => model.Remarks)
            </dt>
            <dd class="view__data">
                @Html.DisplayFor(model => model.Remarks)
            </dd>
        </dl>
    </div>
</div>
<div class="view__button-container">
    <div class="form-group">
        <form asp-action="Delete">
            <a asp-action="Index" class="contacto__button nta-btn-common view__button">Regresar</a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="contacto__button nta-btn-danger view__button" />
        </form>

    </div>
</div>
