@model ParqueProcesoDesarrollo.Web.Data.Entities.Maintenance

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.DateOfLastOverhaul)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.DateOfLastOverhaul)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.TypeOfMaintenance)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TypeOfMaintenance.Description)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Attraction)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayNameFor(model => model.Attraction.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
