@model ParqueProcesoDesarrollo.Web.Data.Entities.Maintenance

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Maintenance</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLastOverhaul)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfLastOverhaul)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
