@model IEnumerable<ParqueProcesoDesarrollo.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Usuarios";
}

<div class="manager-table__top">
    <h3 class="manager-table__caption">Registros</h3>
    
</div>

<table class="manager-table">
    <thead class="manager-table__headers">
        <tr class="manager-table__row">
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.ParentalSurname)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.MaternalSurname)
            </th>
            <th class="manager-table__header" scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="manager-table__header" scope="col">
                Rol Asignado
            </th>
            <th class="manager-table__header" scope="col">
                Detalles
            </th>
            <th class="manager-table__header" scope="col">
                Editar
            </th>
            <th class="manager-table__header" scope="col">
                Eliminar
            </th>

        </tr>
    </thead>
    <tbody class="manager-table__body">
        @foreach (var item in Model)
        {
            <tr class="manager-table__row">
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.FirstName)>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.ParentalSurname)>
                    @Html.DisplayFor(modelItem => item.ParentalSurname)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.MaternalSurname)>
                    @Html.DisplayFor(modelItem => item.MaternalSurname)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Email)>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="manager-table__data" scope="row" data-label=@Html.DisplayNameFor(model => model.Role.Name)>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td class="manager-table__data manager-table__option" data-label="Detalles">
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-magnifying-glass"></i></a>
                </td>
                <td class="manager-table__data manager-table__option" data-label="Editar">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                </td>
                <td class="manager-table__data manager-table__option" data-label="Eliminar">
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                </td>
                
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="manager-table__add"><i class="fa-solid fa-plus"></i></a>

