@model IEnumerable<ParqueProcesoDesarrollo.Web.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<p>
    <a asp-action="Create" class="button">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaternalSurname)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaternalSurname)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">detalle</a>
                </td>
            </tr>
        }
    </tbody>
</table>

